<!--The content below is only a placeholder and can be replaced.-->



<h1>{{title}}</h1>
<!-- <ul>
  <li><a routerLink="home">Home</a></li>
  <li><a routerLink="test">Test</a></li>
  <li><a routerLink="pages">Pages</a></li>
</ul> -->
<!-- <div class="button-row">
  <button mat-raised-button>Basic</button>
  <button mat-raised-button color="primary">Primary</button>
  <button mat-raised-button color="accent">Accent</button>
  <button mat-raised-button color="warn">Warn</button>
  <button mat-raised-button disabled>Disabled</button>
  <a mat-raised-button routerLink=".">Link</a>
</div> -->

<div class="button-row">
  <button mat-raised-button color="primary" (click)="inputString('0-9')">0-9</button>
  <button mat-raised-button color="primary" (click)="inputString('a-z')">a-z</button>
  <button mat-raised-button color="primary" (click)="inputString('A-Z')">A-Z</button>
  <button mat-raised-button color="primary" (click)="inputString('!-~')">!-~</button>
  <button mat-raised-button color="primary" (click)="inputString('hiragana')">あ-ん</button>
  <button mat-raised-button color="warn" (click)="reset()">Reset</button>
</div>

<div>
  <mat-form-field appearance="outline" class="text-area">
    <mat-label>Text</mat-label>
    <textarea matInput placeholder="Text" rows="3" [(ngModel)]="textIn" (change)="generateString()"></textarea>
  </mat-form-field>
</div>

<p class="length">Length: {{textIn.length}}</p>

<table>
  <td>
    <mat-form-field>
      <mat-label>Times</mat-label>
      <input matInput placeholder="Times" type="number" min=1 [(ngModel)]="times" (change)="generateString()">
    </mat-form-field>
  </td>
  <td>
    <mat-form-field>
      <mat-label>Length</mat-label>
      <input matInput placeholder="Length" type="number" min=1 [(ngModel)]="length" (change)="generateString()">
    </mat-form-field>
  </td>
</table>

<div>
  <mat-form-field appearance="outline" class="text-area" color="accent">
    <mat-label>Result</mat-label>
    <textarea matInput placeholder="Result" rows="3" [(ngModel)]="textOut"></textarea>
  </mat-form-field>
</div>

<p class="length">Length: {{textOut.length}}</p>



<!-- <router-outlet></router-outlet> -->